.breadcrumbWrapper {
    height: auto;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 2px solid rgb(8, 68, 77, .1) !important;
  }
  .breadcrumbWrapper .breadcrumb2 {
    background: none !important;
    padding: 0 !important;
  }
  ul.breadcrumb {
    list-style: none;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;    
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: rgb(8, 68, 77);
    text-decoration: none !important;
  }
  ul.breadcrumb li a:hover {
    color: rgb(8, 68, 77, .7);
    text-decoration: underline;
  }
  
  
  .cartpage .tablebox {
    padding: 40px;
  }
  .cartpage .table thead {
    overflow: hidden;
    border: 1px solid rgb(8, 68, 77, .2);
  }
  .cartpage .table thead th {
    padding: 18px;
  }
  .cartpage table th, .cartpage table td {
    vertical-align: middle;
  }
  .cartpage table tr:hover {
    transition: all .4s ease-in-out;
    box-shadow: 0 0px 7px rgb(0, 0, 0, 0.16) !important;
  }
  
  
  .css-1xylxj1-MuiTypography-root-MuiLink-root {
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: none !important;
  }
  .cartitemimgwrapper {
    width: 400px;
    /* border: 1px solid black; */
  }
  .cartitemimgwrapper .imgwrapper {
      height: 110px;
      width:90px !important;
      overflow: hidden;
      /* border: 2px solid black; */
  }
  .cartitemimgwrapper a {
      text-decoration: none;
  }
  .cartitemimgwrapper .info h5 {
      color: rgb(8, 68, 77);
      font-size: 20px;
      font-weight: bold;
  }
  .cartitemimgwrapper .info h5:hover {
    color: rgb(8, 68, 77, .8);
  }
  .cartitemimgwrapper .info p {
    color: rgb(155, 155, 155);
    margin: 0px;
    line-height: 25px;
  }
  
  
  /* product quantity */
  .cartpage .addcartsection {
    height: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .cartpage .addcartsection .countersection {
    position: relative;
    width: 75px;
    height: 45px;
    /* border-radius: 10px; */
    border: 2px solid rgb(8, 68, 77, .2);
    overflow: hidden;
    padding: 8px 10px;
    margin-right: 25px;
  }
  .countersection {
    position: relative;
    width: 75px;
    height: 45px;
    /* border-radius: 10px; */
    border: 2px solid rgb(8, 68, 77, .2);
    overflow: hidden;
    padding: 8px 10px;
    margin-right: 25px;
  }
  .cartpage .addcartsection input {
    height: 25px;
    width: 40px;
    border: none;
    outline: none !important;
    text-align: center;
    font-size: 20px;
    opacity: .8;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .cartpage .addcartsection .arrow {
    position: absolute;
    cursor: pointer;
    opacity: .6;
  }
  .cartpage .addcartsection .arrow.up {
    top: -1px;
    right: 10px;
  }
  .cartpage .addcartsection .arrow.down {
    bottom: -1px;
    right: 10px;
  }
  /*  */
  
  .delete {
    cursor: pointer;
  }
  .delete svg {
    font-size: 22px;
  }
  
  
  /* total cart */
  .cartdetail {
    margin-top: 50px;
  }
  .cartdetail h3 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .cartdetail .total {
    border: 1px solid rgb(8, 68, 77, .3);
    width: 400px;
    height: auto;
  }
  .cartdetail .total .totalprice {
    margin-left: 190px !important;
    font-size: 19px;
  }
  .cartdetail .checkout {
    background-color: rgb(8, 68, 77);
    border-radius: 0px;
    padding: 10px;
    color: white;
    font-size: 17px;
    width: 398px;
  }
  .cartdetail button:hover {
    background-color: rgb(8, 68, 77, .8);
  }
  .cartdetail p {
    text-transform: uppercase;
    padding: 15px 10px;
    color: black;
  }
  .cartdetail img {
    height: 40px;
    width: 60px;
    margin: 0px 10px 15px;
  }
  .cartdetail .total:hover {
    box-shadow: 0 0px 7px rgb(0, 0, 0, 0.16) !important;
  }


  /* order */

  .cartdetail .order {
    border: 1px solid rgb(8, 68, 77, .3);
    width: 400px;
    height: auto;
  }
  .cartdetail .order:hover {
    box-shadow: 0 0px 7px rgb(0, 0, 0, 0.16) !important;
  }
  .hoverbtn:hover {
    background-color: rgb(8, 68, 77, .8) !important;
  }


  /* thankyou */

  .thankpage {
    height: 90vh;
    width: 100%;
  }
  .thankyousection {
    height: 455px;
    width: 700px;
  }
  .thankyousection .img {
    height: 400px;
    width: 700px;
  }
  .thankyousection .img img {
    height: 100%;
    width: 100%;
  }
  .thankyousection .img button {
    font-size: 20px;
    text-transform: capitalize;
    width: 100%;
    padding: 10px;
    color: black;
    background-color: #DCCBBB;
    border-radius: 0px;
  }
  .thankyousection .img button a {
    color: black;
    text-decoration: none;
  }