.dropdown {
    height: 300px;
    width: 190px;
    background-color: white;
    position: absolute;
    top: 112%;
    left: -15px;
    box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 100;
}
.selectdropdown .openselect .arrow {
    position: absolute;
    top: 13px;
    right: 15px;
    font-size: 18px;
    color: rgb(180, 180, 180);
}
.selectdropdown .openselect {
    display: block;
    padding: 10px 0px;
}
.dropdown .searchfield input {
    height: 35px;
    width: 100%;
    border: 1px solid rgb(8, 68, 77);
    outline: none;
    padding: 0px 5px;
}
.dropdown .searchfield .searchresult {
    margin: 0px;
    width: 100%;
    padding: 10px 0px;
    max-height: 230px;
    overflow-y: scroll;
    margin-top: 10px;
}
.dropdown .searchfield .searchresult li {
    list-style: none;
    font-size: 15px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 5px;
}
.dropdown .searchfield .searchresult::-webkit-scrollbar {
    width: 7px !important;
}
.dropdown .searchfield .searchresult::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}
.dropdown .searchfield .searchresult li:hover {
    background-color: rgb(8, 68, 77, .2);
}
.dropdown .searchfield .searchresult li.active {
    background-color: rgb(8, 68, 77, .2);
    color: black !important;
}