footer {
    height: auto;
    width: 100%;
    /* padding: 10px; */
    background-color: white;
    color: black;
    border-top: 2px solid rgb(8, 68, 77, .1);
    margin-top: 60px;
}
footer .linkwrap {
    padding-left: 50px;
}
footer .linkwrap h4 {
    font-size: 25px;
    margin-bottom: 25px;
    color: rgb(8, 68, 77);
    font-weight: 600;
}
footer .linkwrap ul {
    padding: 0;
}
footer .linkwrap ul li {
    list-style: none;
    margin-bottom: 15px !important;
}
footer .linkwrap ul li {
    color: black;
}
footer .linkwrap ul li:hover {
    text-decoration: none;
    color: rgb(8, 68, 77);
    font-weight: 400;
}
footer .linkwrap ul li svg {
    font-size: 20px;
    padding-right: 12px;
}
footer .linkwrap ul li a {
    color: black;
}
footer .linkwrap ul li a:hover {
    text-decoration: none;
    color: rgb(8, 68, 77);
    font-weight: 400;
}
footer .linkwrap h5 {
    font-size: 18px;
}
footer .linkwrap .list li {
    color: black;
    /* background-color: black; */
    display: flex;
    align-items: center;
}
footer .linkwrap .list li svg {
    font-size: 40px;
    color: black;
}
footer .linkwrap .list li svg:hover {
    color: rgb(8, 68, 77);
}
footer .copyright {
    text-align: center;
    border-top: 2px solid rgb(8, 68, 77, .1);
    border-bottom: 2px solid rgb(8, 68, 77, .1);
}