.homecategory .item {
    width: 100%;
    height: auto;
    background-color: #fff0;
    transition: transform .8s;
}
.homecategory .item img {
    height: 400px !important;
    width: 100% !important;
    /* border-radius: 50%; */
    border: 4px solid rgba(136, 104, 6, 0.8);
    border-top-right-radius: 49%;
    border-top-left-radius: 49%;
}
.homecategory .item:hover {
    -ms-transform: scale(1.03); /* IE 9 */
  -webkit-transform: scale(1.03); /* Safari 3-8 */
  transform: scale(1.03); 
}
.homecategory .swiper-slide {
    width: 320px !important;
    margin-bottom: 70px;
    margin-top: 15px;
}
.homecategory .hd {
    font-size: 38px;
    text-align: center ;
    margin-bottom: 20px !important;
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}
.homecategory .swiper {
    overflow: inherit;
}
.homecategory .swiper-button-prev, .homecategory .swiper-button-next {
    top: -55px !important;
    width: 35px !important;
    height: 35px !important;
}
.homecategory .swiper-button-prev {
    left: inherit !important;
    right: 50px !important;
}
.homecategory .swiper-button-prev::after, .homecategory .swiper-button-next::after {
    font-size: 16px !important;
}