header {
    height: auto;
    width: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
.homeimg img {
    height: 60px;
    width: 150px;
    /* margin-left: 50px; */
}
header .headersearch {
    height: 45px;
    width: 80%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0, 0.2);
}
header .headersearch .selectdropdown {
    width: 27%;
    font-weight: 500;
    position: relative;
    padding-right: 20px;
    font-size: 14px;
}
header .headersearch .selectdropdown::after {
    content: '';
    position: absolute;
    height: 30px;
    width: 1px;
    background-color: rgb(0, 0, 0, 0.2);
    top: 6px;
    right: 0px;
}
header .headersearch .search {
    width: 98%;
    padding-left: 10px;
    position: relative;
}
header .headersearch .search input {
    height: 40px;
    width: 100%;
    border: none;
    outline: none !important;
    font-size: 16px;
}
header .headersearch .search .searchicon {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 21px !important;
    opacity: .6;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    height: 10px !important;
    min-height: 10px !important;
    width: 100px;
}
header .countrydropdown select:hover {
    outline: none !important;
}
header .headertab {
    padding-left: 185px;
}
header .headertab li {
    position: relative;
    margin-left: 30px;
}
header .headertab li span {
    font-size: 26px;
    cursor: pointer;
    color: rgb(8, 68, 77, 0.8);
    font-weight: 600;
}
header .headertab .wishlisticon {
    margin-right: 4px;
    color: rgb(0, 0, 0, .7);
}
header .headertab span .wishlist {
    height: 20px;
    width: 20px;
    color: white;
    font-weight: 600;
    position: absolute;
    top: -6px;
    left: 16px;
    text-align: center;
    font-size: 14px;
}
.bardropdown {
    position: absolute;
    top: 40px;
    right: 0px;
    height: auto;
    width: 180px !important ;
    background-color: white;
    box-shadow: 1px 4px 6px rgb(0, 0, 0, 0.1);
    padding-left: 30px;
    z-index: 100;
}
.bardropdown li {
    width: 100% !important;
    list-style: none;
    right: 35px;
    opacity: 0.7;
}
.bardropdown li button {
    width: 100% !important;
    text-transform: capitalize !important;
    justify-content: flex-start !important;
    color: black;
    font-size: 14px;
    margin-bottom: 6px;
}
.bardropdown li button svg {
    margin-right: 8px !important;
}
.bardropdown li button:hover {
    background-color: rgb(8, 68, 77, 0.2);
    color: rgb(8, 68, 77);
}


/* user profile */

header .headertab .userimg {
    display: flex;
    flex-direction: column;
    /* margin-top: 4px; */
}
header .headertab .userimg svg {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: rgb(0,0,0,.6);
}
header .headertab .userimg p {
    line-height: 25px;
    padding: 0px;
    color: rgb(23, 9, 102);
    text-align: center;
}
header .headertab .pencilicon svg {
    font-size: 16px;
    color: rgb(8, 68, 77, 0.8);

    /* margin-left: 10px; */
}

a {
  text-decoration: none;
  color: rgb(8, 68, 77, 0.8) !important;
}

